:root {
  --textBlack: #000000;
  --textGray: #7a7a7a;
}

* {
  font-family: "Overpass Mono", monospace;
  font-weight: lighter;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Add more global styles as needed */
